<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: rgba(218, 218, 218, 0.705);">
<% include ./public/nav %>
    <h1 style="text-align: center;">Inscris toi !</h1>
    <div class="row justify-content-center align-items-center">
    <form class="col-md-3" method="post" action="">
        <legend>Inscription</legend>
        <fieldset>
        <div class="form-group">
        <label for="text">Name : </label>
        <input name="name" id="name" type="text" class="form-control" required>
        </div>
        <div class="form-group">
        <label for="forename">Forename : </label>
        <input name="forename" id="forename" type="text" class="form-control" required>
        </div>
        <div class="form-group">
        <label for="city">City : </label>
        <input name="city" id="city" type="text" class="form-control" required>
        </div>
        <div class="form-group">
        <label for="zipcode">Zipcode : </label>
        <input name="zipcode" id="zipcode" type="text" class="form-control" required>
        </div>
        <div class="form-group">
        <label for="password">Password : </label>
        <input name="password" id="password" type="text" class="form-control" required>
        </div>
        <button type="submit">Send</button>
        </fieldset>
    </form>
    </div>
</body>
</html>