<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Liste</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: rgba(218, 218, 218, 0.705);">
    <% include ./public/nav %>
    <h1 class="text-center">Liste utilisateur</h1>
    <div class="row justify-content-center align-items-center">
    <table class="table table-hover col-md-9">
        <tr class="table-active">
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Ville</th>
            <th scope="col">Code Postal</th>
            <th scope="col">Mots de passe</th>
            <th scope="col">Supprimer</th>
        </tr>
        <!-- faire une boucle qui crée autant de lignes que de users -->
        <% for(i=0; i<userTable.length;i++) { %> 
        <tr class="table-light">
            <td scope="col"><%= userTable[i].name %></td>
            <td scope="col"><%= userTable[i].forename %></td>
            <td scope="col"><%= userTable[i].city %></td>
            <td scope="col"><%= userTable[i].zipcode %></td>
            <td scope="col"><%= userTable[i].password %></td>
            <td scope="col">
                <form method="POST" ><input name="deleteName" type="hidden" value="<%= userTable[i].name %>">
                    <button type="submit">Supprimer</button>
                </form>
            </td>
        </tr>
        <!-- fin de la boucle -->
        <% } %>

    </table>
    </div>
</body>